/FXMLSample/nbproject/private/
/FXMLSample/build/
/FXMLSample/dist/
/DatabaseFinal/build/
/DatabaseFinal/dist/
/LoachBlogPC/nbproject/private/
/LoachBlogPC-Preloader/nbproject/private/
/LoachBlogPC/build/
/LoachBlogPC-Preloader/build/
/LoachBlogPC-Preloader/dist/
/LoachBlogPC/dist/