.ffplayer-musicList {
    -fx-min-width: 500;
    -fx-pref-width: 500;
    -fx-max-width: 500;
    -fx-opacity: 0.8;
}

.ffplayer-lyric {
	-fx-min-width: 500;
    -fx-pref-width: 500;
    -fx-max-width: 500;
    -fx-min-height: 500;
    -fx-pref-height: 500;
    -fx-max-height: 500;
    /* 
    -fx-border-color: rgba(0, 0, 0, 1);
    -fx-border-width: 3;
    */
}

.ffplayer-topTitle {
	/**
	-fx-border-color: rgba(0, 0, 0, 1);
    -fx-border-width: 3;
    **/
}

.ffplayer-logo {
	-fx-padding: 5 5 5 15;
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-effect: dropshadow( three-pass-box, rgba(255, 255, 255, 0.5), 10, 0.5, 0, 0 );
}

.ffplayer-top-close {
	-fx-padding: 5 15 5 0;
}

.ffplayer-top-min, .ffplayer-top-max {
	-fx-padding: 5 5 5 0;
}

.ffplayer-bottom {
    -fx-min-height: 60;
    -fx-pref-height: 60;
    -fx-max-height: 60;
    -fx-background-color: rgba(128, 128, 128, 0.3);
}

.ffplayer-play {
	-fx-padding: 5 0 0 0;
}

.ffplayer-next, .ffplayer-pre {
	-fx-padding: 10 5 5 5;
}

.ffplayer-title-label {
	-fx-padding: 5 5 5 30;
	-fx-font-size: 18px;
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-effect: dropshadow( three-pass-box, rgba(255, 255, 255, 0.5), 10, 0.5, 0, 0 );
}

.ffplayer-time-slider{
	-fx-padding: 5 5 5 30;
	-fx-min-width: 500;
    -fx-pref-width: 500;
    -fx-max-width: 500;
    -fx-cursor: hand;
}

.ffplayer-time-label {
	-fx-padding: 5;
	-fx-font-size: 12px;
	-fx-text-fill: white;
	-fx-font-family: 'Clear Sans Bold';
}

.ffplayer-playModel-vbox {
    -fx-padding: 15 0 0 10;
}

.ffplayer-playModel-choiceBox {
	-fx-padding: 0 5 5 20;
	-fx-cursor: hand;
}

.ffplayer-volume-label {
    -fx-padding: 20 5 5 20;
    -fx-text-fill: white;
    -fx-font-family: 'Clear Sans Bold';
}

.ffplayer-volume-slider {
	-fx-min-width: 100;
    -fx-pref-width: 100;
    -fx-max-width: 100;
    -fx-padding: 20 5 5 5;
    -fx-cursor: hand;
}


/**********************通用************************/
.ffplayer-button {
	-fx-cursor: hand;
}

.ffplayer-button:focused, .ffplayer-button:hover {
	-fx-blend-mode: hard-light;
	-fx-effect: dropshadow( three-pass-box, rgba(255, 255, 255, 0.5), 10, 0.5, 0, 0 );
}
